# Python cache
*.pyc

# Visual Studio Code
.vscode/tasks.json
svencoop.zip

# Bot token
BOT.txt

# Markdown used on my local machine
BOT.md

# Sven Co-op
gfx/*
events/*
maps/*
scripts/*
models/*
sound/*
sprites/*
wip/*
*.wad
default_plugins.txt
steam_autocloud.vdf

wip/*
src/counterstrike/*
.github/workflows/counterstrike.yml
src/ScriptBaseClass/CGrenade.as
