[submodule "external/json"]
    path = external/json
    url = https://github.com/nlohmann/json
[submodule "external/fmt"]
    path = external/fmt
    url = https://github.com/fmtlib/fmt
[submodule "external/metamod"]
    path = external/metamod
    url = https://github.com/hzqst/metamod-fallguys
[submodule "external/MikkNET"]
	path = external/MikkNET
	url = https://github.com/Mikk155/MikkNET.git
