<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({ startOnLoad: true });
        </script>
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:30px;">

            <a href="https://mikk155.github.io/Sven-Co-op">
                    <img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op">
            </a>

            <div class="block">
                <br>
                <div class="neon-text">
                    AntiClip
                    <br><br>
                    #AntiClip::Description#
                    <br><br>
                    #AntiClip::Command#
                    <br><br>
                    #MetamodRequired#
                    <br><br>
                    #ByGafther#

                    <br><br>
                    <a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/AntiClip" target="_blank">#Download#</a>
                    <br>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>

<pre class="json">json<br>
{
    "projectiles":
    [
        "lasers",
        "sporegrenade",
        "displacer_portal",
        "grenade",
        "monster_satchel",
        "monster_tripmine",
        "rpg_rocket",
        "weapon_egon",
        "playerhornet",
        "bolt",
        "weapon_crowbar",
        "grappletongue",
        "monster_snark",
        "monster_chumtoad"
    ],
    "ENABLED":
    {
        "english": "Anti-Clip enabled by admin $name$.",
        "spanish": "Anti-Clip fue activado por el admin $name$."
    },
    "DISABLED":
    {
        "english": "Anti-Clip disabled by admin $name$.",
        "spanish": "Anti-Clip fue desactivado por el admin $name$."
    }
}
<br></pre>
    <br>
    <br>
        <div class="block"><br>
            <a class="neon-text">#ConfigureJson#</a>
            <br><br>
                <div class="mermaid">
                            graph LR;

                            classDef color fill:black;
                            classDef color color:gray;
                            classDef color align-items:left;

                            projectiles{{"<a style="color: green">'projectiles'</a>
                            #Type#: <a style="color: yellow">array</a>
                            #Description#: <a style="color: white">#AntiClip::Projs#</a>"}}:::color
                            lasers{{"
                            <a style="color: green">'lasers'</a>
                            #Type#: <a style="color: cyan">string</a>
                            #Description#: <a style="color: white">#AntiClip::Proj::lasers#</a>"}}:::color
                            sporegrenade{{"
                            <a style="color: green">'sporegrenade'</a>
                            #Type#: <a style="color: cyan">string</a>
                            #Description#: <a style="color: white">#NotWorkAsExpected#</a>"}}:::color

                            projectiles --> lasers
                            projectiles --> sporegrenade
                </div>
                <br>
            </div>
            <br>

        </div>
</body>
</html>
