<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({ startOnLoad: true });
        </script>
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:30px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        chatroles
                                        <br><br>
                                        #chatroles::Description#
                                        <br><br>
                                        #chatroles::Command#

                                        <br><br>
                                        <a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/chatroles" target="_blank">#Download#
                                </div>
                        </div>

                <br>
                </div>
                <br>
                <br>

<pre class="json">json<br>
{
    "reload": false,
    "STEAM_0:0:202010794":
    [
            "Owner",
            "green"
    ],
    "STEAM_0:0:481307649":
    [
            "Donor",
            "red"
    ],
    "STEAM_0:0:1":
    [
            "",
            "yellow"
    ],
    "STEAM_0:0:2":
    [
            "Admin",
            "blue"
    ],
    "STEAM_0:0:3":
    [
            "",
            "red"
    ]
}
<br></pre>
        <br>
        <br>
            <div class="block"><br>
                <a class="neon-text">#ConfigureJson#</a>
                <br><br>
                    <div class="mermaid">
                                graph LR;

                                classDef color fill:black;
                                classDef color color:gray;
                                classDef color align-items:left;

                                reload{{"<a style="color: green">'reload'</a>
                                #Type#: <a style="color: blue">bool</a>
                                #Description#: <a style="color: white">#ReloadJson#</a>"}}:::color

                                steamid{{"<a style="color: green">'STEAMID'</a>
                                #Type#: <a style="color: yellow">array</a>"}}:::color

                                arg1{{"<a style="color: green">#chatroles::RoleField#</a>
                                #Type#: <a style="color: cyan">string</a>"}}:::color

                                arg2{{"<a style="color: green">#chatroles::RoleColor#</a>
                                #Type#: <a style="color: cyan">string</a>"}}:::color

                                cred{{"<a style="color: rgb(255, 0, 0)">red</a>"}}:::color
                                gred{{"<a style="color: rgb(0, 255, 0)">green</a>"}}:::color
                                bred{{"<a style="color: rgb(0, 0, 255)">blue</a>"}}:::color
                                yred{{"<a style="color: rgb(255, 255, 0)">yellow</a>"}}:::color

                                steamid --> arg2

                                steamid --> arg1
                                arg2 --> cred
                                arg2 --> gred
                                arg2 --> bred
                                arg2 --> yred
                    </div>
                    <br>
                </div>
                <br>
        </div>
</body>
</html>
