<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:30px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        dynamic_hostname
                                        <br><br>
                                        #dynamic_hostname::Description#
                                        <br><br>
                                        #dynamic_hostname::Json#
                                        <br><br>
                                        #dynamic_hostname::Idea#

                                        <br><br>
                                        <a href="https://github.com/Mikk155/Sven-Co-op/actions/workflows/dynamic_hostname.yaml" target="_blank">#Download#
                                </div>
                        </div>

                <br>
                </div>

                <br>
                <br>
<pre class="json">
{
    "CONFIG" :
    {
        // Name of your server
        "HOSTNAME": "Limitless Potential",

        // Text to display when something is disabled
        "DISABLED": "Disabled",

        // Text to display when something is enabled
        "ENABLED": "Enabled",

        // Your new hostname
        // Where $difficulty$ is it will be replaced with the current difficulty of DynamicDifficultyDeluxe
        // Where $antirush$ is it will be replaced if there is any antirush entity available
        // Where $survival$ is it will be replaced if survival mode is active or not
        // Where $map$ is it will be replaced with the "MAPS" category
        "DYNAMIC_HOSTNAME": "$hostname$ | Playing $maps$ | Diff $difficulty$ | Anti-Rush $antirush$ | Survival $survival$"
    },
    // key = name of the current map, supports wildcard (*) at the end or at the start.
    // value = text to display at $map$
    "MAPS":
    {
        "hl_c*": "Half-Life",
        "of*": "Opposing Force"
    }
}
</pre>
        </div>
</body>
</html>
