<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:30px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        no_autopickup
                                        <br><br>
                                        #no_autopickup::Description#
                                        <br><br>
                                        #no_autopickup::Description2#

                                        <br><br>
                                        <a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/no_autopickup" target="_blank">#Download#

                                </div>

                                <br>
                        </div>

                <br>
                </div>

                <br>
                <br>

<pre class="json">
{
    // true = tell players to press E
    // false = Don't show message
    "MessagePlayer": true,

    // true = Require to be on direct line of sight
    "RequiredLoS": true,

    // List of items this plugin supports. supports ending wildcard as asterisk (*)
    "ItemList":
    [
        "weapon_*",
        "item_healthkit",
        "item_battery",
        "weaponbox",
        "ammo_*"
    ],

    "PickMeMessage":
    {
        "english": "+use pickup $item$",
        "spanish": "+use recoger $item$"
    }
}
</pre>
                <br>
                <br>
        </div>
</body>
</html>
