<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <script src="../../scripts.js"></script>
</head>

<body>
<a href="../../"><img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op"></a>
<div class="block">
<br>
    <div class="neon-text">
        DiscordBridge<br><br>
        #DiscordBridge::Description#<br><br>
        #DiscordBridge::Methods_0#<br><br>
        #DiscordBridge::Methods_1#<br><br>

        <button onclick="toggleTable('method_0_A')" style="color: white;">"fileload"</button><br>
        <div id="method_0_A" class="hidden">
            <button onclick="toggleTable('method_0_B')" style="color: white;">#Description#</button><br>
            <div id="method_0_B" class="hidden">
                #DiscordBridge::fileload_0#
            </div>
            <button onclick="toggleTable('method_0_C')" style="color: lime;">#pros#</button><br>
            <div id="method_0_C" class="hidden">
                #DiscordBridge::fileload_1#
            </div>
            <button onclick="toggleTable('method_0_D')" style="color: red;">#cons#</button><br>
            <div id="method_0_D" class="hidden">
                #DiscordBridge::fileload_2#<br>
                #DiscordBridge::fileload_3#<br>
            </div>
        </div><br>

        <button onclick="toggleTable('method_1_A')" style="color: white;">"webhook"</button><br>
        <div id="method_1_A" class="hidden">
            <button onclick="toggleTable('method_1_B')" style="color: white;">#Description#</button><br>
            <div id="method_1_B" class="hidden">
                #DiscordBridge::webhook_0#
            </div>
            <button onclick="toggleTable('method_1_C')" style="color: lime;">#pros#</button><br>
            <div id="method_1_C" class="hidden">
                #DiscordBridge::webhook_1#
            </div>
            <button onclick="toggleTable('method_1_D')" style="color: red;">#cons#</button><br>
            <div id="method_1_D" class="hidden">
                #MetamodRequired#<br>
                #DiscordBridge::webhook_2#<br>
            </div>
        </div><br>

        <button onclick="toggleTable('method_2_A')" style="color: white;">"sockets"</button><br>
        <div id="method_2_A" class="hidden">
            <button onclick="toggleTable('method_2_B')" style="color: white;">#Description#</button><br>
            <div id="method_2_B" class="hidden">
                #DiscordBridge::sockets_0#
            </div>
            <button onclick="toggleTable('method_2_C')" style="color: lime;">#pros#</button><br>
            <div id="method_2_C" class="hidden">
                #DiscordBridge::webhook_1#
            </div>
            <button onclick="toggleTable('method_2_D')" style="color: red;">#cons#</button><br>
            <div id="method_2_D" class="hidden">
                #MetamodRequired#<br>
                #DiscordBridge::fileload_2#<br>
            </div>
        </div>
        <br><br>

        #DiscordBridge::MetamodOptional#
    </div>
<br>
</div>
<br>
<br>
<div class="block">
<br>
    <div class="neon-text">
        #ConfigureJson#<br><br>
        <div style="text-align: left;padding-left: 1%;"><br>
            <button onclick="toggleTable('json_0')">"language"</button><br>
            <div id="json_0" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::language#</button><br>
            </div>
            <button onclick="toggleTable('json_0a')">"bot prefix"</button><br>
            <div id="json_0a" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::botprefix#</button><br>
            </div>
            <button onclick="toggleTable('json_0b')">"method"</button><br>
            <div id="json_0b" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::botmethod#</button><br>
                    <button class="json-description">#Hardcoded#: </button>
                    <button class="json-description2">fileload</button>
                    <button class="json-description2">webhook</button>
                    <button class="json-description2">http</button>
                    <button class="json-description2">sockets</button>
            </div>
            <button onclick="toggleTable('json_0c')">"channel bridge"</button><br>
            <div id="json_0c" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-integer">integer</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::channelbridge#</button><br>
            </div>
            <button onclick="toggleTable('json_0d')">"interval"</button><br>
            <div id="json_0d" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-float">float</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::interval#</button><br>
            </div>
            <button onclick="toggleTable('json_0d')">"messages per second"</button><br>
            <div id="json_0d" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-integer">integer</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::MsgsPerSecond#</button><br>
            </div>
            <button onclick="toggleTable('json_1')">"enable"</button><br>
            <div id="json_1" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-boolean">boolean</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::Enable#</button><br>
            </div>
            <button onclick="toggleTable('json_2')">"reload"</button><br>
            <div id="json_2" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-boolean">boolean</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#ReloadJson#</button><br>
            </div>
            <button onclick="toggleTable('json_3')">"commands"</button><br>
            <div id="json_3" class="hidden" style="padding-left: 2%;">
                    <button class="json-description">#Type#: </button><button class="json-dictionary">dictionary</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::commands_0#</button><br>
                    <button class="json-string" onclick="toggleTable('json_3_A')">"roles"</button><br>
                    <div id="json_3_A" class="hidden" style="padding-left: 3%;">
                        <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                        <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::commands_roles#</button><br>
                    </div>
                    <button class="json-string" onclick="toggleTable('json_3_B')">"list"</button><br>
                    <div id="json_3_B" class="hidden" style="padding-left: 3%;">
                        <button class="json-description">#Type#: </button><button class="json-array">array</button><br>
                        <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::commands_list#</button><br>

                        <button class="json-string" onclick="toggleTable('json_3_C')">"index 0"</button><br>
                        <div id="json_3_C" class="hidden" style="padding-left: 4%;">
                            <button class="json-description">#Hardcoded#: </button>
                            <button class="json-description2">white</button>
                            <button class="json-description2">black</button>
                        </div>
                    </div>
            </div>
            <button onclick="toggleTable('json_4')">"MESSAGES"</button>
            <div id="json_4" class="hidden" style="padding-left: 2%;">
                <button class="json-description">#Type#: </button><button class="json-dictionary">dictionary</button><br>
                    <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::MESSAGES#</button><br>
                    <button class="json-string" onclick="toggleTable('json_4_A')">"PlayerKilled"</button><br>
                    <div id="json_4_A" class="hidden" style="padding-left: 3%;">
                        <button class="json-description">#Type#: </button><button class="json-dictionary">dictionary</button><br>
                        <button class="json-string" onclick="toggleTable('json_4_B')">"Gib"</button><br>
                        <div id="json_4_B" class="hidden" style="padding-left: 4%;">
                            <button class="json-description">#Type#: </button><button class="json-array">array</button><br>
                            <button class="json-description">#Description#: </button><button class="json-description2">#DiscordBridge::MESSAGES::Gib#</button><br>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<br>
</div>
<br><br>
<div class="block"><a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/DiscordBridge" target="_blank">#Download#</a><br></div><br>
</body>
</html>
