<!DOCTYPE html>
<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <script src="../../scripts.js"></script>
</head>
<body>
<a href="../../"><img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op"></a>
<div class="block">
<br>
<div class="neon-text">
        dynamic_hostname<br><br>
        #dynamic_hostname::Description#<br><br>
        #OriginalIdea# CubeMath

</div>
<br>
</div>
<br><br>
<div class="block">
<br>
    <div class="neon-text">
        #ConfigureJson#<br><br>
        <div style="text-align: left;padding-left: 1%;"><br>
                <button onclick="toggleTable('json_1')">"CONFIG"</button><br>
                <div id="json_1" class="hidden" style="padding-left: 2%;">
                        <button class="json-description">#Type#: </button><button class="json-dictionary">dictionary</button><br>

                        <button onclick="toggleTable('json_2')">"HOSTNAME"</button><br>
                        <div id="json_2" class="hidden" style="padding-left: 3%;">
                                <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::HOSTNAME#</button><br>
                        </div>

                        <button onclick="toggleTable('json_3')">"DISABLED"</button><br>
                        <div id="json_3" class="hidden" style="padding-left: 3%;">
                                <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::DISABLED#</button><br>
                        </div>

                        <button onclick="toggleTable('json_4')">"ENABLED"</button><br>
                        <div id="json_4" class="hidden" style="padding-left: 3%;">
                                <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::ENABLED#</button><br>
                        </div>

                        <button onclick="toggleTable('json_5')">"DYNAMIC_HOSTNAME"</button><br>
                        <div id="json_5" class="hidden" style="padding-left: 3%;">
                                <button class="json-description">#Type#: </button><button class="json-string">string</button><br>
                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::DYNAMIC_HOSTNAME#</button><br>
                                <button onclick="toggleTable('json_6')">#Value#</button><br>
                                <div id="json_6" class="hidden" style="padding-left: 4%;">
                                        <button onclick="toggleTable('json_7')">$hostname$</button><br>
                                        <div id="json_7" class="hidden" style="padding-left: 5%;">
                                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::fhostname#</button><br>
                                        </div>
                                        <button onclick="toggleTable('json_8')">$maps$</button><br>
                                        <div id="json_8" class="hidden" style="padding-left: 5%;">
                                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::fmaps#</button><br>
                                        </div>
                                        <button onclick="toggleTable('json_9')">$antirush$</button><br>
                                        <div id="json_9" class="hidden" style="padding-left: 5%;">
                                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::fantirush#</button><br>
                                        </div>
                                        <button onclick="toggleTable('json_10')">$survival$</button><br>
                                        <div id="json_10" class="hidden" style="padding-left: 5%;">
                                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::fsurvival#</button><br>
                                        </div>
                                        <button onclick="toggleTable('json_11')">$difficulty$</button><br>
                                        <div id="json_11" class="hidden" style="padding-left: 5%;">
                                                <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::fdifficulty#</button><br>
                                        </div>
                                </div>
                        </div>
                </div>

                <button onclick="toggleTable('json_12')">"MAPS"</button><br>
                <div id="json_12" class="hidden" style="padding-left: 4%;">
                        <button class="json-description">#Type#: </button><button class="json-dictionary">dictionary</button><br>
                        <button class="json-description">#Description#: </button><button class="json-description2">#dynamic_hostname::MAPS#</button><br>
                </div>
        </div>
    </div>
<br>
</div>
<br><br>
<div class="block"><a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/dynamic_hostname" target="_blank">#Download#</a><br></div><br>
</body>
