<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({ startOnLoad: true });
        </script>
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:30px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        dynamic_hostname
                                        <br><br>
                                        #dynamic_hostname::Description#
                                        <br><br>
                                        #dynamic_hostname::Idea#

                                        <br><br>
                                        <a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/dynamic_hostname" target="_blank">#Download#
                                </div>
                        </div>

                <br>
                </div>
                <br>
                <br>

<pre class="json">json<br>
{
    "CONFIG":
    {
        "HOSTNAME": "Limitless Potential",
        "DISABLED": "Disabled",
        "ENABLED": "Enabled",
        "DYNAMIC_HOSTNAME": "$hostname$ | Playing $maps$ | Diff $difficulty$ | Anti-Rush $antirush$ | Survival $survival$"
    },
    "MAPS":
    {
        "hl_c*": "Half-Life",
        "of*": "Opposing Force"
    }
}
<br></pre>
        <br>
        <br>
            <div class="block"><br>
                <a class="neon-text">#ConfigureJson#</a>
                <br><br>
                    <div class="mermaid">
                                graph LR;

                                classDef color fill:black;
                                classDef color color:gray;
                                classDef color align-items:left;

                                CONFIG{{"<a style="color: green">'CONFIG'</a>
                                #Type#: <a style="color: purple">dictionary</a>"}}:::color

                                HOSTNAME{{"<a style="color: green">'HOSTNAME'</a>
                                #Type#: <a style="color: cyan">string</a>
                                #Description#: <a style="color: white">#dynamic_hostname::HOSTNAME#</a>"}}:::color

                                DISABLED{{"<a style="color: green">'DISABLED'</a>
                                #Type#: <a style="color: cyan">string</a>
                                #Description#: <a style="color: white">#dynamic_hostname::DISABLED#</a>"}}:::color

                                ENABLED{{"<a style="color: green">'ENABLED'</a>
                                #Type#: <a style="color: cyan">string</a>
                                #Description#: <a style="color: white">#dynamic_hostname::ENABLED#</a>"}}:::color

                                DYNAMIC_HOSTNAME{{"<a style="color: green">'DYNAMIC_HOSTNAME'</a>
                                #Type#: <a style="color: cyan">string</a>
                                #Description#: <a style="color: white">#dynamic_hostname::DYNAMIC_HOSTNAME#</a>"}}:::color

                                MAPS{{"<a style="color: green">'MAPS'</a>
                                #Type#: <a style="color: purple">dictionary</a>"}}:::color

                                hl_c*{{"<a style="color: green">'map name'</a>
                                #Type#: <a style="color: cyan">string</a>
                                #Description#: <a style="color: white">#dynamic_hostname::MAPS#</a>"}}:::color

                                CONFIG --> HOSTNAME
                                CONFIG --> DISABLED
                                CONFIG --> ENABLED
                                CONFIG --> DYNAMIC_HOSTNAME
                                MAPS --> hl_c*
                    </div>
                    <br>
                </div>
                <br>
        </div>
</body>
</html>
