<!DOCTYPE html>
<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
</head>
<body>
<a href="../"><img class="img-banner" src="../media/svencoop.png" alt="Sven Co-op"></a>
<div class="block">
<br>
        <div class="neon-text">
                <div class="neon-text" style="font-size: 30px;">#RepoDescription#<br><br>#RepoDescription2#<br><br>#RepoDescription3#</div><br>
                <a href = "plugins.html" class="link-here">Plugins</a><br>
                <a href = "mapscripts.html" class="link-here">MapScripts</a><br>
                <a href = "entities.html" class="link-here">#Entities#</a><br>
        </div>
<br>
</div>
</body>
</html>
