<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:40px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                        <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        #Installing#
                                </div>

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Installing#
                                </div>

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Actions#
                                </div>

                                <br>

                                <img src="../media/actions.png">

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Commit#
                                </div>

                                <br>

                                <img src="../media/workflows.png">

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Scroll#
                                </div>

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Artifact#
                                </div>

                                <br>

                                <img src="../media/download.png">

                                <br>

                                <div class="neon-text" style="font-size: 30px;" >
                                        #Installing::Extract#
                                </div>

                                <br>

                                <div class="neon-notice" style="font-size: 20px;" >
                                        #Installing::Please#
                                </div>

                        </div>
                        <br>
                </div>
                <br>
                <br>
        </div>
</body>
</html>
