<!DOCTYPE html>

<head>
        <title>Sven Co-op</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
</head>

<body>

        <div style="position:relative;padding-left:0%;text-align:center;font-weight:100;font-size:40px;">

                <a href="https://mikk155.github.io/Sven-Co-op">
                        <img class="img-banner" src="../media/svencoop.png" alt="Sven Co-op">
                </a>

                <div class="block">
                        <br>

                        <div class="neon-text">

                                <div class="neon-text" >
                                        #Plugins#
                                </div>

                                <br>

                                <a href = "plugins/AntiClip.html" class="link-here">AntiClip</a><br>
                                <a href = "plugins/chatroles.html" class="link-here">chatroles</a><br>
                                <a href = "plugins/CrashReporter.html" class="link-here">CrashReporter</a><br>
                                <a href = "plugins/dynamic_hostname.html" class="link-here">dynamic_hostname</a><br>
                                <a href = "plugins/emotes.html" class="link-here">emotes</a><br>
                                <a href = "plugins/FastRestart.html" class="link-here">FastRestart</a><br>
                                <a href = "plugins/no_autopickup.html" class="link-here">no_autopickup</a><br>
                                <a href = "plugins/NPCMoveTo.html" class="link-here">NPCMoveTo</a><br>
                                <a href = "plugins/PlayerDecalTracker.html" class="link-here">PlayerDecalTracker</a><br>
                                <a href = "plugins/SurvivalRespawnAll.html" class="link-here">SurvivalRespawnAll</a><br>
                        </div>
                        <br>
                </div>
                <br>
                <br>
        </div>
</body>
</html>
