<!DOCTYPE html>
<html lang="en">
<base href="../">
<head>
<meta property="og:title" content="{title}">
<meta property="og:description" content="{header_description}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://mikk155.github.io/Sven-Co-op/">
<meta property="og:image" content="https://avatars.githubusercontent.com/u/76907702?v=4">
<meta name="twitter:card" content="summary_large_image">
<meta charset="UTF-8">
<title>{name}</title>
<link rel="stylesheet" href="styles.css">
<script src="scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
</head>
<body>
<main>
<div id="content">
<h1>{title}</h1>
<p>{description}</p>
{details}
</table>
<table id="supportTable">
<thead>
<tr>
<th>Map Script</th>
<th>Server Plugin</th>
<th><a href="https://github.com/Mikk155/Sven-Co-op/releases/tag/metamod" target="_blank">⬇ Metamod</a></th>
</tr>
</thead>
<tbody>
<tr>
<td>{map_script}</td>
<td>{plugin}</td>
<td>{metamod}</td>
</tr>
</tbody>
</table>
<br>
<script> const assets = {assets}; </script>
<button onclick="downloadAssets( this, assets )">⬇ Download</button>
{installation}
</div>
</main>
</body>
</html>
