<h1>Installation</h1>
<p>
Open "<a style="color: var(--red);">svencoop/default_plugins.txt</a>" and paste this over.
</p>

<div class="code-block" style="width: fit-content; padding-right: 100px;">
<button onclick="ClipboardCopy( 'default_plugins' )" title="Copy">📋</button>
<code id="default_plugins">
<br>
&emsp;&emsp;"plugin"
<br>
&emsp;&emsp;{
<br>
&emsp;&emsp;&emsp;&emsp;"name" "{name}"
<br>
&emsp;&emsp;&emsp;&emsp;"script" "{file}"
<br>
&emsp;&emsp;}
</code>
</div>
<p>
Please do <a style="color: var(--red);">NOT</a> change the "<a style="color: var(--red);">name</a>" value. some plugins and map scripts want to find plugins by name to adjust their behaviour.
</p>