body
{
    background-color: rgb(50, 50, 50);
    color: #0000FF;
    font-weight: bold;
    font-size:larger;
    text-align: center;
}

pre
{
    background-color: rgb(72, 96, 136);
    text-align: left;
    font-weight: lighter;
    font-size: medium;
}

a
{
    color: rgb(72, 96, 136);
}

a:hover
{
    color: #2482ef;
}

table
{
    margin: 0 auto;
}

table th, table td
{
    padding: 5px 10px;
}