:root
{
        --SVENCOOP_HUD: rgb(0, 60, 160);
        --SVENCOOP_RGB: rgb(0, 40, 100);
        --background_color: rgb(1, 19, 39);
        --white: rgb(255, 255, 255);
}

body {
        background-color: var(--background_color);
        place-items: center;
}

.neon-button::before {
        transition: all 100ms;
        content: "";
        pointer-events: none;
        position: absolute;
        background-color: var(--SVENCOOP_HUD);
        border-radius: 25px;
        left:0;
        right:0;
        top:150px;
        bottom:-150px;
        transform: perspective(0.7em) rotateX(25deg);
        filter: blur(15px);
        opacity: 50%;
}

.neon-button {
        transition: all 100ms;
        scale:1.0;
        background-color: var(--SVENCOOP_RGB);
        font-size: 75px;
        border: 5px solid var(--background_color);
        border-radius: 15px;
        cursor:default;
        color: rgb(200, 200, 200);
}

.neon-button:hover {
        cursor:pointer;
        text-shadow: none;
        box-shadow: inset 0 0 25px var(--SVENCOOP_RGB), 0 0 25px var(--SVENCOOP_HUD);
        background-color: var(--SVENCOOP_HUD);
        color: var(--white);
        text-shadow: 0 0 5px var(--white);
        transition: all 100ms;
}

.neon-button:hover::before {
        opacity: 80%;
        transition: all 100ms;
}

.side-menu-elements {
        display:none;
        opacity:0%;
        transition:1s;
        pointer-events: none;
        line-height: 50px;
}

.side-menu-elements.show {
        display:block;
        animation:side-menu-elements-show 500ms forwards;
}

@keyframes side-menu-elements-show {
        70% {
                opacity:0%;
        }
        90% {
                pointer-events:none;
        }
        100% {
                opacity:100%;
                pointer-events:all;
        }
}

/* Side Menu */
.side-menu {
        z-index: 9;
        position:fixed;
        display:block;
        line-height: 50px;
        transition:250ms;
        --max-height:250px;
        left:0;
        right:0;
        width:50px;
        height:40px;
        line-height:10px;
        border: 2px solid rgba(0, 0, 255, 0.5);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: inset 0 0 5px rgba(104, 104, 255, 0.5), 0 0 5px rgba(0, 0, 100, 0.5);
        background-color:rgba(55, 55, 152, 0.5);
}

.side-menu.open {
        width:300px;
        animation:side-menu-open 500ms forwards;
}

@keyframes side-menu-open {
        60% {
                height: 40px;
        }
        100% {
                height: var(--max-height);
        }
}

.side-menu-b1,
.side-menu-b2,
.side-menu-b3
{
        width: 35px;
        height: 5px;
        background-color:rgb(147, 147, 147);
        margin:6px 0;
        transition: 500ms;
}

.side-menu-button
{
        position:relative;
        cursor:pointer;
        padding-right: 10px;
}

.neon-text {
        color:var(--white);
        cursor:default;
        text-shadow: 0 0 5px var(--SVENCOOP_RGB);
}

.neon-box {
        transition: all 100ms;
        position:relative;
        text-align:center;
        background-color:var(--SVENCOOP_HUD);
        --clr-neon:white;
        color:var(--SVENCOOP_HUD);
        border: 5px solid var(--SVENCOOP_HUD);
        border-radius: 15px;
        cursor:default;
        text-shadow: 0 0 5px var(--SVENCOOP_HUD);
        box-shadow: inset 0 0 5px var(--SVENCOOP_HUD), 0 0 5px var(--SVENCOOP_HUD);
}

.the-box {
        transition: all 100ms;
        position:relative;
        text-align:left;
        background-color:rgba(255, 255, 255, 0.25);
        color:var(--SVENCOOP_HUD);
        border: 5px solid var(--SVENCOOP_HUD);
        border-radius: 15px;
        cursor:default;
        text-shadow: 0 0 5px var(--SVENCOOP_HUD);
        box-shadow: inset 0 0 5px var(--SVENCOOP_HUD), 0 0 5px var(--SVENCOOP_HUD);
        width:85%;
        padding-left:15px;
        border-style: none
}

.the-actions {
        color:var(--SVENCOOP_HUD);
        font-size:20px;
        text-align:center;
        border-style: none
}

.custom-link {
        color: rgb(0, 255, 0);
}

.own-link {
        color: rgb(242, 158, 1);
}

.download-link {
        color: rgb(255, 30, 0);
}

.custom-link:hover,
.download-link:hover,
.own-link:hover {
        color: rgb(230, 0, 255);
}
